@font-face {
    font-family: 'AvenirLT';
    src: local('AvenirLTStd Heavy'),
    local('AvenirLTStd-Heavy'),
    url('../src/fonts/AvenirLTStd-Heavy.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirLT';
    src: local('AvenirLTStd Black'),
    local('AvenirLTStd-Black'),
    url('../src/fonts/AvenirLTStd-Black.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirLT';
    src: local('AvenirLTStd Medium'),
    local('AvenirLTStd-Medium'),
    url('../src/fonts/AvenirLTStd-Medium.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'AvenirLT';
    src: local('AvenirLTStd Light'),
    local('AvenirLTStd-Light'),
    url('../src/fonts/AvenirLTStd-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Abraham';
    src: local('Abraham Stamp'),
    local('Abraham-Stamp'),
    url('../src/fonts/Abraham-Stamp.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Komika';
    src: local('Komika Jam Regular'),
    local('Komika-Jam-Regular'),
    url('../src/fonts/Komika-Jam-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Spyninjas';
    src: local('SpyNinjas'),
    local('SpyNinjas'),
    url('../src/fonts/SpyNinjas.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
}